

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  
  animation: pulse 6s infinite;
  overflow-x: hidden;
  transition: 0.6s;
  padding-top: 60px;
}
	@keyframes pulse {
  		0% {
    	background-color: #DCDCDC;
  	}
  		100% {
    background-color:#C0C0C0;
  }
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}



@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



.Form-Control{
	text-align: center;
}


body {
	margin: 0;
	padding :0;
	//background-color: blue;
    background-image:
    radial-gradient(white,silver);
	
}

.LogIn-Form
{
	
	margin-top:2px
	margin-left:2px;
	margin-right: 50px: 

}

.LogIn-Form h1 {
	
	text-transform:	uppercase;
	transition: all 4s ease-in-out; 
	font-size: 32px;
	font-family: "Palatino Linotype";
	line-height: 10px;
	color: white;
	text-shadow: 2px 2px 0 #000000, 
	2px -2px 0 #000000, 
	-2px 2px 0 #000000, 
	-2px -2px 0 #000000, 
	2px 0px 0 #000000,
	0px 2px 0 #000000, 
	-2px 0px 0 #000000, 
	0px -2px 0 #000000
}


form{
	margin: 50px;
	border: none;
	border-width: thick;
	transition: all 4s ease-in-out; 

}


.form-control{
	

	width: 285px;
  height: 50px;
  margin-bottom: 25px;
  padding-left:10px;
  font-size: 15px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}



input{
	height: 45px;

}

form .submit {
	background-color: silver;
	border-color: transparent;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	height: 50px;
	margin-top:20px;
}

form .submit:hover{
	background-color: darkgreen;


}
