.Form-Control{
	text-align: center;
	
}


body {
	margin: 20;
	padding :0;
	background-image:
  radial-gradient(white,silver);
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  
  animation: pulse 6s infinite;
  overflow-x: hidden;
  transition: 0.6s;
  padding-top: 60px;
}
	@keyframes pulse {
  		0% {
    	background-color: #DCDCDC;
  	}
  		100% {
    background-color:#C0C0C0;
  }
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}



@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

h1{
    background-image:
    radial-gradient(grey,white);
		display: flex;
	align-items: center;
	flex-direction: column; 
	align-content: center;
	justify-content: center;

	text-transform:	uppercase;
	
	margin-left: 20px;
	margin-top: 2px;
	margin-right: 20px;
	margin-bottom: 2px;
	
	font-size: 32px;
	font-family: "Palatino Linotype";
	line-height: normal;
	color: white;
	text-shadow: 2px 2px 0 #000000, 
	2px -2px 0 #000000, 
	-2px 2px 0 #000000, 
	-2px -2px 0 #000000, 
	2px 0px 0 #000000,
	0px 2px 0 #000000, 
	-2px 0px 0 #000000, 
	0px -2px 0 #000000
	
}

.LogIn-Form
{
	position: absolute centre;
		display: flex;
	flex-direction: column;
	border: double;
	margin-top:2px
	margin-left:20px;
	margin-right: 50px: 

}

.LogIn-Form h1 {
	border: none;
	background: none;
	
	margin-bottom: 20px;
	margin-top: 0px;
	text-transform:	uppercase;
	font-size: x-large;
	font-family: "Palatino Linotype";
	text-shadow: none;
	color: black;
	
}


form{
	margin-top:  20px;
	margin-bottom: 20px;
	border: double;
	
	
	text-align: center;
	
	
	 

}


.form-control{
	
	
	width: 285px;
  height: 50px;
	margin-top:  20px;
  margin-bottom: 20px;
  padding-left:10px;
  font-size: 15px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
	
}



input{
	height: 45px;

}

form .submit {
	background-color: silver;
	border-color: transparent;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	height: 50px;
	margin-top:20px;
}

form .submit:hover{
	background-color: darkgreen;


}
